html{
    background: #2b5876; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2b5876, #4e4376); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2b5876, #4e4376);
}
.container{
    width: 100%;
    height: 100%;

}
.holder{
    width: 80vw;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
    color: rgba(160, 33, 47, 0.9);
    display: flex;
}
.outbox{
    position: relative;
    display: inline-block;
    width: 180px;
    height: 250px;
    margin-top: 11vw;
    margin-left: 5px;
    background-color: #0a1769;
    border: 1px solid #444444;
    border-radius: 8px;
    background-image: url('../img/other/white.jpeg');
    opacity: 0.85;
}
.hiddenBox{
    display: none;
    word-wrap:break-word;
    position: relative;
    width: 200px;
    height: 250px;
    margin-top: 11vw;
    margin-left: 5px;
    background-color: #0a1769;
    border: 1px solid #444444;
    border-radius: 8px;
    background-image: url('../img/other/white.jpeg');
    opacity: 0.85;
}
.outboxright{
    word-wrap:break-word;
    position: relative;
    width: 200px;
    height: 250px;
    margin-top: 11vw;
    margin-left: 5px;
    background-color: #0a1769;
    border: 1px solid #444444;
    border-radius: 8px;
    background-image: url('../img/other/white.jpeg');
    opacity: 0.85;
}
.playground{
    display: inline-block;
    position: relative;
    width: 40vw;
    height: 40vw;
    margin-left: 15px;
}
.controls {
    display: inline-block;
    margin-left: 1.5vw;
    margin-top: 1.2vw;
    height: 100%;
}
.load{
    font-size:1em;
    display: inline-block;
    border-radius: 3px;
    border:1px solid dimgray;
    background-color: #ff9153;
    opacity: 0.9;
    box-shadow: 1px 1px 10px 1px #362b23;
    height: 2vw;
    width: 70%;
    margin-left: 0.5vw;
    text-align: center;
    outline:none;
    margin-top: 1vw;
}
input {
    width: 11vw;
    margin-top: 7%;
    font-size: 1em;
    height: 10%;
}
.load:hover{
    color: #3d49ab;
}
.load:active{
    box-shadow: inset 1px 1px 10px 1px #362b23;
}
#newGame{
    font-size:1em;
    display: inline-block;
    border-radius: 3px;
    border:1px solid dimgray;
    background-color: #ff9153;
    opacity: 0.9;
    box-shadow: 1px 1px 10px 1px #362b23;
    height: 3vw;
    width: 70%;
    margin-left: 1.5vw;
    text-align: center;
    outline:none;
    margin-top: 2vw;
}
#newGame:hover{
    color: #3d49ab;
}
#newGame:active{
    box-shadow: inset 1px 1px 10px 1px #362b23;
}
#consoleLog{
    display: inline-block;
    width: 12vw;
    background-color: rgba(215,214,221,0.9);
    opacity: 0.85;
    overflow-y: scroll;
    border-radius: 3px;
    border: 1px solid #747474 !important;
    height: 8vw;
    border: solid;
    color: black;
}
@media(max-width:1024px){
    #newGame{
        font-size: 12px;
    }
    .load{
        font-size: 12px;
    }
    .outbox{
        font-size: 12px;
        width: 150px;
        height: 180px;
    }
    .outboxright{
        font-size: 12px;
        width: 150px;
        height: 180px;
    }
}
@media(max-width:768px) {
    #newGame {
        font-size: 8px;
    }
    .load {
        font-size: 8px;
    }
    .outbox{
        font-size: 12px;
        width: 150px;
        height: 180px;
    }
    .outboxright{
        font-size: 12px;
        width: 150px;
        height: 180px;
    }
}
@media(max-width:600px) {
    .outbox{
        display: none;
    }
    .outboxright{
        display: none;
    }
    .hiddenBox{
        display: block;
        width: 78vw;
        height: 140px;
        margin-top: 5px;
    }
    #consoleLog{
        margin-top: 1.5vw;
        width: 30vw;
    }
    .playground{
        display: block;
        height: 80vw;
        width: 80vw;
        margin-left: 0px;
    }
    .holder{
        margin-left: 10px;
        height: 80vw;
        width: 80vw;
        flex-direction: column;
    }
    .controls{
        width: 35vw;
        margin-top: 0.5vw;
        margin-left: 2vw;
    }
    input{
        margin-top: 1vw;
    }
    .load{
        height: 2.5vw;
    }
}
@media(max-width:450px) {
    .outboxright{
        width: 50vw;
    }
    #consoleLog{
        width: 46vw;
    }
}